################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/X86HideInject/v16
/.vs
/X86HideInject/.vs/X86HideInject/v16
